{% extends 'layout/base.html' %}

{% block content %}
<head>
    <link href="static\css\support.css" rel="stylesheet"/>
</head>

<div class="header">
    <div class="header-title">
        <h4 class="text-center">Trang liên hệ</h4>
        <h1 class="fw-bold text-primary text-center">CONTACT<span class="text-dark">US</span></h1>
    </div>
</div>
<hr>

<div class="container">
    <h2 class="text-center text-success">LIÊN HỆ</h2>

    <div class="contact-card">
        <h3>LIÊN HỆ</h3>
        <p><strong>Tên:</strong> ADMIN</p>
        <p><strong>Số điện thoại:</strong> 035.44 77.027</p>
        <p><strong>Địa chỉ:</strong> 720A Điện Biên Phủ, Vinhomes Tân Cảng, Bình Thạnh, Hồ Chí Minh.</p>
    </div>

    <div class="contact-card">
        <h3>Hỗ trợ</h3>
        <p><strong>Email:</strong> Support@example.com</p>
        <p><strong>Tiếp thị:</strong> Marketing@example.com</p>
    </div>
</div>
{% endblock %}